---
layout: default
title: "Harshit's fav poems"
---
<div class="introduction">
  <!-- <h1>hi.</h1> -->

<h3>
Welcome to my poetic realm where each verse cradles a cherished memory and every line tells a story close to my soul.
</h3>
</div>

<hr>

<div id="category-filters">
  <button class="filter-btn active" onclick="filterSelection('all')">All</button>
  {% assign all_categories = "" %}
  {% for item in site.texts %}
      {% for category in item.categories %}
          {% unless all_categories contains category %}
              {% assign all_categories = all_categories | append:category | append:"," %}
          {% endunless %}
      {% endfor %}
  {% endfor %}
  {% assign unique_categories = all_categories | split:"," | uniq %}
  {% for category in unique_categories %}
      <button class="filter-btn" onclick="filterSelection('{{ category | slugify }}')">{{ category }}</button>
  {% endfor %}
</div>

<div class="toc">
  <h2>the poems</h2>

  <ul class="texts">
    {% for item in site.texts %}
        {% assign category_classes = item.categories | join: ' ' %}
        <li class="text-category-title {{ category_classes | slugify }}">
            <a href="{{ site.baseurl }}{{ item.url }}">
                {{ item.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

<script src="{{ site.baseurl }}/assets/js/filter_btn.js"></script>