<head prefix="og: http://ogp.me/ns#; dc: http://purl.org/dc/terms/#">
  {% capture resource_url %}{{ site.url }}{{ site.baseurl }}{{ page.url }}{% endcapture %}
  {% capture directory_url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
  <!-- Canonical link to help search engines -->
  <link rel="canonical" href="{{ resource_url }}" />

  <!-- Basic meta elements -->
  <meta charset="utf-8" />

  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </title>

  <!-- Dublin Core metadata for Zotero -->
  <meta property="dc:title" content="{{ page.title }}" />
  <meta property="dc:creator" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author.name }}{% endif %}" />
  <meta property="dc:identifier" content="{{ resource_url }}" />
  {% if page.editor %}<meta property="dc:contributor" content="{{ page.editor }}" />{% endif %}
  {% if page.publication-date %}<meta property="dc:date" content="{{ page.publication-date }}" />{% endif %}
  {% if page.rights %}<meta property="dc:rights" content="{{ page.rights }}" />{% endif %}
  <meta property="dc:source" content="{% if page.source %}{{ page.source }}{% else %}{{ site.title }}{% endif %}" />

  <!-- Open Graph metadata -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ resource_url }}" />
  <meta property="og:image" content="{{ directory_url }}/assets/open-graph-logo.png" />
  <meta property="og:image:width" content="200" />
  <meta property="og:image:height" content="200" />
  <meta property="fb:admins" content="elotroalex" />
  <meta property="fb:app_id" content="589495744558280" />

{% if page.layout == "default" %}
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:type" content="website" />
{% else %}
  <meta property="og:description" content="An Ed edition">
  <meta property="og:type" content="article" />
{% endif %}

  <!-- CSS link -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/filter_btn.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/dark_theme.css" />

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon_files/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon_files/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon_files/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon_files/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon_files/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon_files/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon_files/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon_files/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_files/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon_files/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_files/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon_files/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_files/favicon-16x16.png">
  <link rel="manifest" href="/img/favicon_files/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/img/favicon_files/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ directory_url }}/atom.xml" />
</head>
