#category-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.filter-btn {
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
.filter-btn.active, .filter-btn:hover {
    background-color: #f44336;
    color: white;
}

.text-title {
    display: none;
}
.text-title.show {
    display: list-item; /* or block, inline-block, etc., depending on your layout */
}